# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0eb1281b7a9fce9410f547c3f9432df06bd5b7b5b8a569f45f7d6e9cf54b2d45d95f513d318052f1dfce2156c749f91ebf4f32f0beffbd50587821ceb8e31c84

test:
  secret_key_base: 2dc9d9370dcfab7c00e76c8b5404bdf2f61ece97ba8365b9f2f1a8b2ad632049caaa4a94ed923f942845ea26c2d072ad1318e785b951873a049177468e760009

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
